@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.project-card a{
  color:#915EFF;
  text-decoration:none;
}

.timeline-item{
  display:flex;
  align-items:flex-start;
  gap:25px;
  margin-bottom:40px;
}

.circle{
  min-width:80px;
  height:80px;
  border-radius:50%;
  background:#915EFF;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:700;
}

.timeline-content{
  background:#111827;
  padding:25px;
  border-radius:20px;
  width:100%;
}

.timeline-content p{
  margin-top:10px;
  color:#b5b5b5;
  line-height:1.8;
}

.contact p{
  color:#b5b5b5;
}

.links{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.links a{
  color:#915EFF;
  text-decoration:none;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h1{
    font-size:2.8rem;
  }

  .about{
    flex-direction:column;
  }

  .timeline-item{
    flex-direction:column;
  }
}