*{

.year{
    min-width:90px;
    height:90px;
    border-radius:50%;
    background:#9d4edd;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:600;
    position:relative;
}

.year::after{
    content:'';
    position:absolute;
    width:3px;
    height:120px;
    background:#9d4edd;
    top:90px;
}

.timeline-item:last-child .year::after{
    display:none;
}

.timeline-content{
    width:100%;
    background:#0c0c16;
    border:1px solid #2f184b;
    border-radius:18px;
    padding:30px;
}

.timeline-content h4{
    color:#9d4edd;
    margin-top:8px;
    margin-bottom:20px;
    font-size:14px;
    font-weight:500;
}

.timeline-content p{
    color:#b3b3b3;
    line-height:1.8;
}

@media(max-width:900px){

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-left,
    .about-right{
        width:100%;
    }

    .about-left p{
        max-width:100%;
    }

    .cards{
        justify-content:center;
    }

    .timeline-item{
        flex-direction:column;
    }

    nav{
        flex-direction:column;
        gap:20px;
    }
}